html, body {
  padding: 0;
  margin: 0;

  overflow: hidden;
}

.background {
  position:absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;

width: 110%;

  z-index: -1;

  background:
  linear-gradient(
     rgba(12, 6, 24, 0.5),
     rgba(12, 6, 24, 0.5)
   ),
  url("./assets/img/background.jpg") center no-repeat;
  background-size: cover;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.downleft {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.button
{
  background: url('./assets/img/github-icon.png') left center no-repeat;
  background-size: 24px 24px;
  background-position: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;

  background-color: #333333;

  border: solid 1px #f5f5f5;
  border-radius: 4px;
  color: #f5f5f5;

  font-family: "Segoe UI";
  font-weight: bold;
}

.button:hover{
  background: url('./assets/img/github-icon-inverted.png') left center no-repeat;
  background-size: 24px 24px;
  background-position: 4px;

  border: solid 2px #000000;
  background-color: #f5f5f5;
  color: #333333;
}

.hidden {
  display: none;
}
